---
layout: default
title: Home
---

{% for post in paginator.posts %}

<div class="posts">
  <h1>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </h1>
  {% if post.image %}
  <div class="thumbnail-container">
    <a href="{{ post.url | relative_url }}"><img src="/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ post.url | relative_url }}">Read more</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ paginator.next_page_path | relative_url }}" class="next">Older</a>
  {% else %}
    <span class="pagination-button">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ paginator.previous_page_path | relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-button">Newer</span>
  {% endif %}
</div>
{% endif %}
